<div class="col-4">
  <h4 class="text-white text-center">Ingresar Resultado</h4>
  <form
    method="POST"
    target="/nuevo-resultado/"
    class="card bg-dark text-light card-body"
  >
    <div class="mb-3">
      <label for="id">N°:</label>
      <select
        name="idPiloto"
        id="idPiloto"
        class="form-control"
        autofocus
        required
      >
        <% equipos.forEach((equipo) => { %>
        <option value=<%= equipo.idPiloto %>><%= equipo.idPiloto %> <span><%= equipo.nombre %></span></option>
        <% }) %>
      </select>
    </div>
    <div class="mb-3">
      <label for="circuito">Circuito:</label>
      <select name="circuito" id="circuito" class="form-control" required>
        <% carreras.forEach((carrera) => { %>
        <option value="<%= carrera.circuito %>"><%= carrera.circuito %></option>
        <% }) %>
      </select>
    </div>
    <div class="mb-3">
      <label for="tiempo">Tiempo Total (HH:mm:ss):</label>
      <input
        type="text"
        name="tiempo"
        id="tiempo"
        class="form-control"
        pattern="^([0-9]{2}):([0-5][0-9]):([0-5][0-9])$"
        title="Por favor, introduzca un tiempo en formato HH:mm:ss"
        required
      />
    </div>
    <div class="mb-3">
      <label for="posicion">Posición:</label>
      <select type="number" name="posicion" id="posicion" class="form-control" required>
        <% puntajes.forEach((puntaje) => { %>
        <option value=<%= puntaje.posicion %>><%= puntaje.posicion %>
        </option>
        <% }) %>
      </select>
    </div>
    <div class="mb-3 form-check">
      <label class="form-check-label">Abandono por problemas:</label>
      <div>
        <input
          type="checkbox"
          name="tecnicos"
          id="tecnicos"
          class="form-check-input"
        />
        <label for="tecnicos" class="form-check-label">Técnicos</label>
      </div>
      <div>
        <input
          type="checkbox"
          name="personales"
          id="personales"
          class="form-check-input"
        />
        <label for="personales" class="form-check-label">Personales</label>
      </div>
    </div>
    <div class="mb-3">
      <button type="submit" class="btn btn-success">Guardar</button>
    </div>
  </form>
</div>
