<!-- ------------------------- tabla de jugadores -------------------------- -->

<div class="container my-4">
<div class="row">
  <h4 class="text-white">Clasificaciรณn F1 2023</h4>
</div>
<section id="tabla">
  <table class="container table table-dark table-striped">
      <thead class="text-success">       
        <tr>
          <th scope="col">#</th>
          <th scope="col">Piloto</th>
          <th scope="col">Total</th>
          <th scope="col">๐ง๐ญ</th>
          <th scope="col">๐ธ๐ฆ</th>
          <th scope="col">๐ฆ๐บ</th>
          <th scope="col">๐ฆ๐ฟ</th>
          <th scope="col">๐บ๐ธ</th>
          <th scope="col">๐ฎ๐น</th>
          <th scope="col">๐ฒ๐จ</th>
          <th scope="col">๐ช๐ธ</th>
          <th scope="col">๐จ๐ฆ</th>
          <th scope="col">๐ฆ๐น</th>
          <th scope="col">๐ฌ๐ง</th>
          <th scope="col">๐น๐ฏ</th>
          <th scope="col">๐ง๐ช</th>
          <th scope="col">๐ณ๐ฑ</th>
          <th scope="col">๐ฎ๐น</th>
          <th scope="col">๐ธ๐ฌ</th>
          <th scope="col">๐ฏ๐ต</th>
          <th scope="col">๐ถ๐ฆ</th>
          <th scope="col">๐บ๐ธ</th>
          <th scope="col">๐ฒ๐ฝ</th>
          <th scope="col">๐ง๐ท</th>
          <th scope="col">๐จ๐ฑ</th>
          <th scope="col">๐ด๓ง๓ข๓ฅ๓ฎ๓ง๓ฟ</th>
        </tr>
      </thead>
      <tbody>
        <% for (let i = 0; i < resultados.length; i++) { %>
          <tr>
            <td class="text-warning"><%= resultados[i].idPiloto %></td>
            <td><%= resultados[i].nombre %></td>
            <td>100</td>
            <td><%= resultados[i].carrera1 %></td>
            <td><%= resultados[i].carrera2 %></td>
            <td><%= resultados[i].carrera3 %></td>
            <td><%= resultados[i].carrera4 %></td>
            <td><%= resultados[i].carrera5 %></td>
            <td><%= resultados[i].carrera6 %></td>
            <td><%= resultados[i].carrera7 %></td>
            <td><%= resultados[i].carrera8 %></td>
            <td><%= resultados[i].carrera9 %></td>
            <td><%= resultados[i].carrera10 %></td>
            <td><%= resultados[i].carrera11 %></td>
            <td><%= resultados[i].carrera12 %></td>
            <td><%= resultados[i].carrera13 %></td>
            <td><%= resultados[i].carrera14 %></td>
            <td><%= resultados[i].carrera15 %></td>
            <td><%= resultados[i].carrera16 %></td>
            <td><%= resultados[i].carrera17 %></td>
            <td><%= resultados[i].carrera18 %></td>
            <td><%= resultados[i].carrera19 %></td>
            <td><%= resultados[i].carrera20 %></td>
            <td><%= resultados[i].carrera21 %></td>
            <td><%= resultados[i].carrera22 %></td>
            <td><%= resultados[i].carrera23 %></td>
          </tr>
        <% } %>
      </tbody>
    </table>
  </section>
</div>

